RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L,QSA]


ErrorDocument 404 http://localhost/projet_FML/MVC/error.php?code=404
ErrorDocument 200 http://localhost/projet_FML/MVC/error.php?code=404
ErrorDocument 301 http://localhost/projet_FML/MVC/error.php?code=301
