{% block meta %}
<!DOCTYPE html>
<html lang= "fr">
<head>
<meta charset="UTF-8">
<meta name="author" content="Fabien Léa Meriem">
<link rel="stylesheet" href="views/assets/css/style.css">
<link rel="icon" href="views/assets/img/logo_creawebz.png">

<meta name="description" content="">
<meta name="keyword" content ="">
<meta name="title" content ="">
<!--##################################################################### Twitter #####################################################################-->
<meta name="twitter:card"content="">
<meta name="twitter:side" content="">
<meta name="twitter:title" content="">
<meta name="twitter:description" content="">
<!--##################################################################### Facebook #####################################################################-->
<meta property="og:url" content="">
<meta property="og:type" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
{% endblock meta %}
<!--##################################################################### Titre #####################################################################-->
    {% block titre %}
    <Title> Accueil</Title>
    {% endblock titre %}
    </head>
<!--##################################################################### En tête #####################################################################-->
    <header>
<!--##################################################################### Navbar #####################################################################-->



    </header>
<!--##################################################################### Body #####################################################################-->
    
    
    
<!--##################################################################### Footer #####################################################################-->
    <footer>
    {% block footer %}
    <p>copyright&copy;creawebz</p>
    <a href="views/php/mention.html.twig">Mentions Legales</a>
   {% endblock footer %}
   </footer>
    </body>
</html>