<!DOCTYPE html>

<html lang="fr">
    <head>
        {% block meta %}
            <meta charset="UTF-8">
            <meta content="Fabien Léa Meriem" name="author">
            <link href="view/assets/css/style.css" rel="stylesheet">
            <link href="view/assets/img/logo_creawebz.png" rel="icon">
            <meta content='initial-scale=1,maximum-scale=1,user-scalable=no' name='viewport'/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

            <meta content="" name="description">
            <meta content="" name="keyword">
            <meta content="" name="title">
            <!--#####################################################################Twitter#####################################################################-->
            <meta content="" name="twitter:card">
            <meta content="" name="twitter:side">
            <meta content="" name="twitter:title">
            <meta content="" name="twitter:description">
            <!--#####################################################################Facebook#####################################################################-->
            <meta content="" property="og:url">
            <meta content="" property="og:type">
            <meta content="" property="og:title">
            <meta content="" property="og:description">
            <meta content="" property="og:image">

            {% endblock %}

        {% block link %}{% endblock %}

        <!--#####################################################################Titre#####################################################################-->
        <title>
            {% block titre %}
                Accueil
            {% endblock %}
        </title>
    </head>
    <body>
        <!--#####################################################################Entête#####################################################################-->
        <header>
            <!--#####################################################################Navbar#####################################################################-->
        {% block header %}{% endblock %}

        </header>
        <!--#####################################################################Body#####################################################################-->
        <main>
            {% block main %}{% endblock %}
        </main>

        <!--#####################################################################Footer#####################################################################-->
        <footer>
            {% block footer %}
            <div class="container-fluid footer">
            <div class="container">
            <div class="row infos_footer">
        
                <div class="logo_footer mt-auto mb-auto">
                <img id="logo_agence" src="view/assets/img/logo_blanc_creawebz.png" alt="logo agence Creawebz" width="62" height="58">
                </div>
                <div class="offset-10 mt-auto mb-auto">
                <a href="mention" class="mentions_footer">Mentions légales</a>
                </div>
                </div>
                </div>
                </div>
            {% endblock %}
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {% block script %}{% endblock %}
    </body>
</html>
