<!DOCTYPE html>

<html lang="fr">
    <head>
        {% block meta %}
            <meta charset="UTF-8">
            <meta content="Fabien Léa Meriem" name="author">
            <link href="view/assets/css/style.css" rel="stylesheet">
            <link href="view/assets/img/logo_creawebz.png" rel="icon">
            <meta content='initial-scale=1,maximum-scale=1,user-scalable=no' name='viewport'/>

            <meta content="" name="description">
            <meta content="" name="keyword">
            <meta content="" name="title">
            <!--#####################################################################Twitter#####################################################################-->
            <meta content="" name="twitter:card">
            <meta content="" name="twitter:side">
            <meta content="" name="twitter:title">
            <meta content="" name="twitter:description">
            <!--#####################################################################Facebook#####################################################################-->
            <meta content="" property="og:url">
            <meta content="" property="og:type">
            <meta content="" property="og:title">
            <meta content="" property="og:description">
            <meta content="" property="og:image">
        {% endblock %}

        {% block link %}{% endblock %}

        <!--#####################################################################Titre#####################################################################-->
        <title>
            {% block titre %}
                Accueil
            {% endblock %}
        </title>
    </head>
    <body>
        <!--#####################################################################Entête#####################################################################-->
        <header>
            <!--#####################################################################Navbar#####################################################################-->


        </header>
        <!--#####################################################################Body#####################################################################-->
        <main>
            {% block main %}{% endblock %}
        </main>

        <!--#####################################################################Footer#####################################################################-->
        <footer>
            {% block footer %}
                <p>copyright&copy;creawebz</p>
                <a href="views/php/mention.html.twig">Mentions Legales</a>
            {% endblock %}
        </footer>
        {% block script %}{% endblock %}
    </body>
</html>
