{% extends "base.html.twig" %}
{% block titre %}Accueil{% endblock %}
{% block header %}
<section class="container-fluid accueil">
<div >
    <div class="container">
        <div class="row">
            <img alt="logo de l'application" id="logo_app" src="view/assets/img/accueil_izyco.png" width="352" height="96">
        </div>
        <div class="row titre_accueil">
        <h1 class="offset-2 ">FACILITEZ <br> VOS DÉPARTS</h1>
        <a id="btn_begin" class="offset-1 ml-auto mt-auto" href="map">COMMENCER</a>
        </div>
    </div>
</section>
{% endblock %}
