{% extends "base.html.twig" %}
{% block link %}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
    <link crossorigin="" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" rel="stylesheet"/>
    
    
{% endblock %}
{% block titre %}Map    {% endblock %}         
                                                                                                                                    
{% block header %}
<form>
<label for="adresse">Entrez votre adresse postale</label>
                    <input type="text" name="adresse" id="adresse">
                     <input type="submit" class="btn" name="valider" value="Valider l'adresse" id="envoyer">
<span>
                        <ul id="suggestions">
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </span>
                   
                </form>

{% endblock %}
 

{% block main %}
    
    <div id="map" style="height:79vh"></div>

{% endblock %}


{% block script %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

    <script src="http://localhost/projet_FML/MVC/view/assets/js/script.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
{% endblock %}

