{% extends "base.html.twig" %}
{% block link %}
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet'/>
    <link crossorigin="" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" rel="stylesheet"/>
    
    
{% endblock %}
{% block titre %}Map    {% endblock %}         
                                                                                                                                    

 

{% block main %}
    <form ><input type="search" id="saisie" placeholder="saisir votre adresse"> </form>
    <div id="map" style="height:500px"></div>


{% endblock %}


{% block script %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

    <script src="http://localhost/projet_FML/MVC/view/assets/js/script.js"></script>

{% endblock %}

